@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'epi';
  src: url('//d3lfzbr90tctqz.cloudfront.net/sha/css/icons/font/epi.eot/9252b4eae3');
  src: url('//d3lfzbr90tctqz.cloudfront.net/sha/css/icons/font/epi.eot/9252b4eae3#iefix') format('embedded-opentype'),
  url('//d3lfzbr90tctqz.cloudfront.net/sha/css/icons/font/epi.woff/2b8c55728e') format('woff'),
  url('//d3lfzbr90tctqz.cloudfront.net/sha/css/icons/font/epi.ttf/ed7455303e') format('truetype'),
  url('//d3lfzbr90tctqz.cloudfront.net/sha/css/icons/font/epi.svg/eb253fa91a#epi') format('svg');
  font-weight: normal;
  font-style: normal;
}