// Primary colors
$red: #D1030F;
$blue: #0073C3;
$green-dark: #16A400;
$yellow-dark: #FAAA00;
$gray-darkest: #333333;

// Secondary colors
$blue-darkest: #005998;
$blue-dark: #016AB3;
$blue-light: #60B5F1;
$blue-lighter: #9ECFF1;
$blue-lightest: #C3E7FF;

$red-darkest: #900000;
$red-dark: #B1010B;
$red-light: #E3564C;
$red-lighter: #FFA9A8;
$red-lightest: #FDD7D5;

$yellow-darkest: #D79200;
$yellow: #FEBA2B;
$yellow-light: #FFC751;
$yellow-lighter: #FCCF71;
$yellow-lightest: #FCE4B2;

$green-darkest: #117C00;
$green: #49C237;
$green-light: #93DC87;
$green-lighter: #BAE9B2;
$green-lightest: #D2F6CC;

// Black and gray
$black: #000000;
$gray-dark: #666666;
$silver-chalice: #9E9E9E;
$silver: #C4C4C4;
$silver-light: #D6D6D6;
$silver-lightest: #DFDFDF;
$gray-light: #E2E2E2;
$gray-lightest: #F6F6F6;
$white: #FFFFFF;